<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Hi Customer,</h1>
<p>
 Your requested item: <%= @item.name %> is now available.
</p>
</body>
</html>