<h1>Editing Feedback</h1>

<%= render 'form', feedback: @feedback %>

<%= link_to 'Show', @feedback, :class => "btn btn-warning" %> |
<%= link_to 'Back', welcome_index_path , :class => "btn btn-warning"%>
